*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.man{
    display: flex;
    justify-content: space-between;
    padding:5px;

    

}
.tharu{
    height: 50px;
    width: 350px;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 50px;
}
nav{
    display: flex;
    justify-items: flex-start;
}
 ul li a {
    list-style:none;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
ul li{
    display: inline;
    margin-right: 20px;
   
}
.sec{
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: xx-large;
}
.tec{
   text-align: center; 
   font-family:sans-serif;
   color: rgb(141, 141, 167);
}
.sec1>div{
height: 250px;
width: 160px;
padding: 5px;
}
.sec1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content:space-evenly;
}
img{
    height: 150px;
    width: 150px;

}
#x{
font-size:large;
font-family:'Times New Roman';
margin-top: 20px;
font-weight: 800;
}
#y{
    font-size: small;
    margin-top:30px ;
    display: inline;
     color: rgb(141, 141, 167);
}
.art{
    margin-left: 120px;
}
.product>div{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    /* border: 2px solid green; */
    margin-top: 50px;
}
.product{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}
.product img{
    height:350px;
    width:300px;

}
.item div>img{
    border-radius: 20px;
    height: 400px;
    width: 320px;
    margin-top: 40px;
}
.item{
    margin-left: 130px;
    margin-right: 130px;
 display: flex;
 gap: 20px;
}
.slider{
    display:flex;
    height: 300px;
    width: 950px;
    justify-items:center;
    margin-left: 170px;
    margin-right: 120px;
    gap: 20px;
    margin-top: 20px;
    overflow-x: scroll;
    
}
.slider div>img{
    height:250px;
    width: 250px;
}
.help{
    background-color: rgb(15, 39, 39);
    height: 300px;
    width:1000px;
    margin-left:120px;
    margin-right:120px;
    border-radius: 30px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.help div>img{
    position: absolute;
    left:600px;
    bottom:0px;
}
.foot{
    background-color: rgb(225, 215, 215);
    margin-top: 25px;
    width: 1000px;
    margin-left: 120px;
    height: 350px;
    border-radius: 20px;
    position: relative;
}
.foot div>img{
    height: 300px;
    width: 300px;
    position: absolute;
    left:550px;
    bottom: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container div>img{
    margin-top: 400px;
    margin-right:90px;
}
.item div>img:hover{
    transform: scale(1.2);
    transition:transform 0.5S;
}
sup:hover{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .tharu{
        display: none;
    }
    .mbnav{
        display: inline-block;
    }
    
    .header{
        display: flex;
        flex: wrap;
    }
.header{
    flex-wrap: wrap;
    margin-right: 100px;
    overflow: visible;
}
.sec1{
    flex-wrap: wrap;
    margin-left: 20px;
}
.product{
    flex-wrap: wrap;
    position: relative;
}
.item{
    flex-wrap: wrap;
    margin-left: 60px;
}
.slider{
    flex-wrap: wrap;
}
.lec{
    display: flex;
    justify-content: center;
}
.sec{
    text-align: center;
    display: flex;
    justify-content: center;
}
.item div>img{
    height:400px;
    width: 400px;
}

}

.b1:hover{
    color:blue;
    transform: translateX(20px);
    transition: all 0.5s;
}
.b2:hover{
    color: rgb(117, 132, 132);
    transform: translateX(30px);
    transition: all 0.5s;
}